@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <br />
    <header>
        <div class="row" id="banner">
            <img class="col-md-12" width="2560" height="300" src="https://www.googleplaymusicdesktopplayer.com/img/par1.jpg" />

        </div>
    </header>
    <br />
    <br />

    <div>
        <a class="btn btn-success btn-lg col-md-3" href="/Albums">Go To Albums</a>
        <a class="btn btn-info btn-lg col-md-3 col-md-offset-1" href="/Artist">Go To Artists</a>
        <a class="btn btn-warning btn-lg col-md-3 col-md-offset-1" href="/Genre">Go To Genres</a>
    </div>
</div>
